.banner{
    position: relative;
    z-index: 1;
    max-width: 100% !important;
    height: 125vh;
    padding: 10px 1%;
    background-image: url('../../public/images/banner_one.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@media (max-width: 780px){
    .banner{
        background-size: cover;
    }
}

@media (max-width: 500px){
    .banner{
        height: 100vh !important;
        background-image: url('../../public/images/project_1/img_r1.jpg');
    }
}
