.banner{
    position: relative;
    padding: 24vh 1%;

    .slide_banner{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 100% !important;
        height: 125vh;

        .selected{
            opacity: 1;
        }

        img{
            position: absolute;
            transition: 1s;
            left: 0;
            top: 0;
        }
    }

}

@media (max-width: 780px){
    .banner{
        background-size: cover;
        padding: 24vh 1%;

    }
}

@media (max-width: 500px){
    .banner{
        height: 100vh !important;
        background-image: url('../../public/images/project_1/img_r1.jpg');
    }
}
