@import '../../mixins/mixin.scss';

.footer_banner{
    width: 98vw;
    height: 24vh;
    position: absolute;
    bottom: -60px;
    left: 0;

    .column{
        @include flex(flex-start,flex-start);
        flex-shrink: 0;
    }

}

@media (max-width: 640px){
    .footer_banner{
        bottom: -70px;
    }
}

@media (max-width: 500px){
    .footer_banner{
        bottom: -80px;
    }
}


@media (max-width: 400px){
    .footer_banner{
        bottom: -110px;
    }
  }

@media (min-height: 700px){
    .footer_banner{
        bottom: -130px;
    }
}


