@import "../../mixins/mixin.scss";

.footer_banner {
  width: 98vw;
  height: 24vh;
  position: absolute;
  top: 107vh;
  bottom: 0;
  left: 0;

  .column {
    @include flex(flex-start, flex-start);
  }
}

@media only screen and (orientation: portrait){
  .footer_banner{
    display: none !important;
  }
}

@media (min-width: 1950px){
  .footer_banner{
   display: none;
  }
}


@media (max-width: 1115px) {
  .footer_banner {
    top: 112vh !important;
  }
}


@media (max-width: 720px) {
    .footer_banner {
       top: 116vh !important;
    }
}

@media (min-height: 1024px){
  .footer_banner{
    top: 102vh !important;
  }
}

