@import "../../mixins/mixin.scss";

.footer{
    width: 100%;
    background-color: #000;
    border-top: 1px solid #fff;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 25px 0 20px 0;
    position: relative;

    .social_medias{
        @include flex(center,center);
        gap: 15px;
        margin: 5px 0;

        a{
          @include flex(center,center);           
          background-color: #fff;
          border-radius: 50%;
          padding: 10px;
          font-size: 30px;
          color: #000;
          transition: .5s;
        }

        .whatsapp:hover{
          background-color: #4eb332;
          color: #fff;
        }
        .email:hover{
          background-color: #47a1f5;
          color: #fff;
        }
    }

    .address{
      display: inline-block;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 2vh 0;
        text-decoration: none;
   }

  .developer{
    font-size: 13px;
    margin-top: 70px;
    
     a{
      color: #fff;
      text-wrap: nowrap;
     }
  }
}