@import "../../mixins/mixin.scss";

.span_logo{
  @include flex(center,center);
  flex-direction: column;
  color: #fff;


  .title_part_one{
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Hanken Grotesk", sans-serif !important;

  }

  .title_part_two{
    display: block;
    font-weight: lighter;
    font-size: 12px;
  }
}