@import '../../mixins/mixin.scss';

.menu_navigation{
    position: fixed;
    display: none;
    right: -200px;
    top: 0;
    width: 100vw;
    max-width: 200px;
    background-color: #000;
    height: 100vh;
    padding: 0 5px;
    border-left: 1px solid #696868;
    transition: .5s;

   ul{
    list-style: none;
    margin-top: 10vh;

    li{
        margin: 2vh 0;
        transition: .5s;
        padding: 6px;

         a{
            text-decoration: none;
            color: #fff;
            font-size: 1.4em;
            cursor: pointer;
         }
     }

     li:hover{
        background-color: #3b3a3a;
     }

   }

   .select_language{
    position: relative;
    top: 50vh;

    .languages{
      @include flex(center,center);
      gap: 50px;

      img{
        cursor: pointer;
      }
    }
   }

}

@media (min-width: 1600px){
  .menu_navigation ul{
    margin-top: 6.5vh !important;
  }

  .select_language{
    top: 63vh !important;
  }
}

@media (max-width: 900px){
  .menu_navigation ul{
    margin-top: 5vh;
   }
   .select_language{
    top: 62vh !important;
  }
}

@media (max-width: 500px){
  .menu_navigation ul{
   margin-top: 6vh;
  }

  .select_language{
    top: 56vh !important;
  }
}

@media only screen and (max-width: 769px) and (orientation: landscape) {
  .select_language{
    top: 45vh !important;
  }
} 