@import "../../mixins/mixin.scss";

.modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);

    .closeModal{
        color: #fff;

        svg{
            position: absolute;
            right: 2vw;
            top: 2vh;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .slides{
        @include flex(center,center);
        flex-direction: column;
        width: 100%;
        height: 100%;

        a.title_project{
          position: absolute;
          left: 1%;
          top: 1.5%;
          color: #fff;
        }
        

        .main_slide{
            @include flex(center,center);
            gap: 5vw;
            width: 100%;
            height: 100vh;

            .btn_prev svg,.btn_next svg{
               transition: .3s;
             }

             .btn_prev svg:hover, .btn_next svg:hover{
                opacity: 1;
                color: #464545;
             }

            svg{
                cursor: pointer;
                color: #fff;
                font-size: 5rem;
                font-weight:normal;
            }

            .image_main_slide{
                padding: 1%;
                @include flex(center,center);
                height: 100%;
                width: 90%;
                
                img{
                   width: 100%;
                   height: 100%;
                   object-fit:contain;
                }
            }

        }
        
        .slide_secondary{
            @include flex(flex-start,center);
            margin-top: 30px;
            overflow-x: auto;
            width: 100%;
            max-width: 560px;
            background-color: #8a8989;
            padding: 10px;
            height: 25vh;
            gap: 10px;
            

            .box_image{
                cursor: pointer;
                flex-shrink: 0;
                width: 100px;
                height: 100%;
                transition: .5s;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .selected{
                border: 2px solid #000;
            }
            
        

         }
    }

    .amountImages{
        color: #fff;
        position: absolute;
        left: 1%;
        bottom: 2%;
    }
}

@media (max-width: 768px){
    .image_main_slide{
         @include flex(center,center);  
        img{
           width: 100%
        }
    }
}

@media (max-width: 500px){

    a.title_project{
        top: 4% !important;
      }

    .btn_prev svg,.btn_next svg{
        font-size: 3.3rem !important;
        z-index: 3 !important;
        position: relative;

   }

   .btn_prev svg:hover, .btn_next svg:hover{
    color: #fff !important;
 }
    .image_main_slide{

        img{
           z-index: 2;
           position: absolute;
           height: 40% !important;
           width: 110% !important;
           object-fit:cover !important;
        }
    }
}

