@import "../../mixins/mixin.scss";

.modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);

    .closeModal{
        color: #fff;

        svg{
            position: absolute;
            right: 2vw;
            top: 2vh;
            font-size: 50px;
            cursor: pointer;
        }
    }

    .slides{
        @include flex(center,center);
        flex-direction: column;
        width: 100%;
        height: 100%;
        

        .main_slide{
            @include flex(center,center);
            gap: 5vw;
            width: 100%;
            height: 100vh;

            .btn_prev svg,.btn_next svg{
               transition: .3s;
             }

             .btn_prev svg:hover, .btn_next svg:hover{
                opacity: 1;
                color: #464545;
             }

            svg{
                cursor: pointer;
                color: #fff;
                font-size: 5rem;
                font-weight:normal;
            }

            .image_main_slide{
                padding: 1%;
                @include flex(center,center);
                height: 100%;
                width: 90%;
                text-align: center;

                .header_blur, .footer_blur{
                    transition: .5s;
                    opacity: 0;
                    width: 100%;
                    height: 1vh;
                    position: absolute;
                    color: #fff;

                }

                .header_blur{
                    top: 0;
                   -webkit-box-shadow: 1px 46px 26px 25px rgba(0,0,0,0.3); 
                    box-shadow: 1px 46px 26px 25px rgba(0,0,0,0.3);
                    background-color: rgba($color: #000000, $alpha: 0.2);

                    a.title_project{
                        filter: drop-shadow(1px 1px #000);
                        border-bottom: 2px ;
                        position: relative;
                        top: 3vh;
                        bottom: 0;
                        z-index: 5;
                        color: #fff;
                      }
                }

                
                img{
                   width: 100%;
                   height: 100%;
                   object-fit:contain;               
                }



                .footer_blur{
                    position: absolute;
                    bottom: 0;
                    -webkit-box-shadow: 3px -21px 26px 25px rgba(0,0,0,0.3); 
                    box-shadow: 3px -21px 26px 25px rgba(0,0,0,0.3);
                    background-color: rgba($color: #000000, $alpha: 0.2);

                    .amountImages{
                        filter: drop-shadow(1px 1px #000);
                        position: absolute;
                        bottom: 3vh;
                        z-index: 5;
                        color: #fff;
        
                    }

                    .amountImages:hover{
                        cursor: pointer;
                    }
                }
            }

        }
        
    }


}

@media (max-width: 768px){
    .image_main_slide{
         @include flex(center,center);  
        img{
           width: 100%
        }

        .header_blur, .footer_blur{
            opacity: 1 !important;
        }

        .amountImages{
            left: 46%;
        }
    }
}

@media (max-width: 500px){

    .btn_prev svg,.btn_next svg{
        font-size: 3.3rem !important;
        z-index: 3 !important;
        position: relative;

   }

   .btn_prev svg:hover, .btn_next svg:hover{
    color: #fff !important;
 }
    .image_main_slide{

        a.title_project{
            top: 4% !important;
          }

        img{
           z-index: 2;
           position: absolute;
           height: 40% !important;
           width: 110% !important;
           object-fit:cover !important;
        }
    }
}

