.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal .closeModal {
  color: #fff;
}
.modal .closeModal svg {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-size: 50px;
  cursor: pointer;
}
.modal .slides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.modal .slides .main_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 100%;
  height: 100vh;
}
.modal .slides .main_slide .btn_prev svg, .modal .slides .main_slide .btn_next svg {
  transition: 0.3s;
}
.modal .slides .main_slide .btn_prev svg:hover, .modal .slides .main_slide .btn_next svg:hover {
  opacity: 1;
  color: #464545;
}
.modal .slides .main_slide svg {
  cursor: pointer;
  color: #fff;
  font-size: 5rem;
  font-weight: normal;
}
.modal .slides .main_slide .image_main_slide {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  text-align: center;
}
.modal .slides .main_slide .image_main_slide .header_blur, .modal .slides .main_slide .image_main_slide .footer_blur {
  transition: 0.5s;
  opacity: 0;
  width: 100%;
  height: 1vh;
  position: absolute;
  color: #fff;
}
.modal .slides .main_slide .image_main_slide .header_blur {
  top: 0;
  box-shadow: 1px 46px 26px 25px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}
.modal .slides .main_slide .image_main_slide .header_blur a.title_project {
  filter: drop-shadow(1px 1px #000);
  border-bottom: 2px;
  position: relative;
  top: 3vh;
  bottom: 0;
  z-index: 5;
  color: #fff;
}
.modal .slides .main_slide .image_main_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal .slides .main_slide .image_main_slide .footer_blur {
  position: absolute;
  bottom: 0;
  box-shadow: 3px -21px 26px 25px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}
.modal .slides .main_slide .image_main_slide .footer_blur .amountImages {
  filter: drop-shadow(1px 1px #000);
  position: absolute;
  bottom: 3vh;
  z-index: 5;
  color: #fff;
}
.modal .slides .main_slide .image_main_slide .footer_blur .amountImages:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .image_main_slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_main_slide img {
    width: 100%;
  }
  .image_main_slide .header_blur, .image_main_slide .footer_blur {
    opacity: 1 !important;
  }
  .image_main_slide .amountImages {
    left: 46%;
  }
}
@media (max-width: 500px) {
  .btn_prev svg, .btn_next svg {
    font-size: 3.3rem !important;
    z-index: 3 !important;
    position: relative;
  }
  .btn_prev svg:hover, .btn_next svg:hover {
    color: #fff !important;
  }
  .image_main_slide a.title_project {
    top: 4% !important;
  }
  .image_main_slide img {
    z-index: 2;
    position: absolute;
    height: 40% !important;
    width: 110% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}/*# sourceMappingURL=Modal.module.css.map */