@import "../../mixins/mixin.scss";

.projects{
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    border-left: 1px solid #7e7c7c;
    border-right: 1px solid #7e7c7c;
    padding-bottom: 20vh;

    .title_session_projects{
        font-size: 25px;
        @include flex(flex-start,flex-end);
        gap: 1vw;
        padding: 5vh 0 0 0;
        border-bottom: 6px solid #000;
        max-width: 30%;

        .number_session_projects{
            @include flex(center,center);
            width: 60px;
            background-color: #000;
            color: #fff;
            padding: 20px;
        }

    }

    .session_projects{
        @include flex(space-around,flex-start);
        gap: 50px;

        .list_projects{
            padding: 2vw 0;
            width: 50%;
    
            .project{
                cursor: pointer;
                padding: 10px 2vw;
                border-bottom: 1px solid #ccc;
                transition: .5s;
                overflow: hidden;
                height:55px;
                position: relative;

                .name_project{
                    font-size: 22px;
                    font-weight: 300;
                }
                
                .wraper_project{
                    @include flex(space-between,center);
                    gap: 30px;

                    .arrow_project{
                        width: 40px;
                        height: 40px;
                        z-index: 1;
                    }
                   
                   .arrow{
                    font-size: 45px;
                    position: absolute;
                    right: 1.4vw;
                    transition: .5s;
                  }

                }

                .description_project{
                    margin: 15px 0;
                    max-width: 350px;
                }

                a{
                    font-size: 30px;
                    color: #000;
                }

                .animation_border{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: #000;
                    transition: width .6s ease !important;
                }

                .buttonAllProjects{
                    width: 100%;
                    height: 90px;
                    background-color: red;
                }
    
            }
    
    
        }

        .slide_projects{
            position: relative;
            width: 50%;
            height: 400px;

            img{
                position: absolute;
                top: 0;
                right: 0;
                max-height: 100%;
                max-width: 100%;
                
            }
        }
    }




}

@media (max-width: 768px){
    .session_projects{
       flex-wrap: wrap;
    }

    .list_projects{
        width: 100% !important;
        display: block;
    }

    .slide_projects{
        height: 300px !important;
    }
}

@media (max-width: 500px){
    .slide_projects{
        height: 250px;
    }
}