@import "../../mixins/mixin.scss";

.projects{
    position: relative;
    width: 100%;
    max-width: 1270px;
    margin: auto;
    border-left: 1px solid #7e7c7c;
    border-right: 1px solid #7e7c7c;

    .title_session_projects{
        font-size: 16px;
        @include flex(flex-start,center);
        gap: 1vw;
        padding: 5vw 0;

        .number_session_projects{
            @include flex(center,center);
            width: 25px;
            background-color: #000;
            color: #fff;
            padding: 6px;
        }

    }

    .session_projects{
        @include flex(space-between,flex-start);
        gap: 50px;

        .list_projects{
            padding: 2vw 0;
            width: 50%;
    
            .project{
                cursor: pointer;
                padding: 10px 2vw;
                border-bottom: 1px solid #ccc;
                transition: .5s;
                overflow: hidden;
                height:55px;
                position: relative;

                .name_project{
                    font-size: 22px;
                    font-weight: 300;
                }
                
                .wraper_project{
                    @include flex(space-between,center);
                    gap: 30px;

                    .arrow_project{
                        width: 20px;
                        height: 20px;
                        z-index: 1;
                    }
                   
                   .arrow{
                    font-size: 45px;
                    position: absolute;
                    right: 0.5vw;
                    transition: .5s;
                  }

                }

                .description_project{
                    margin: 15px 0;
                    max-width: 350px;
                }

                .animation_border{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    background-color: #000;
                }
    
            }
    
    
        }

        .slide_projects{
            position: relative;
            width: 50%;
            height: 400px;

            img{
                position: absolute;
                top: 0;
                right: 0;
                max-height: 100%;
                max-width: 100%;
                
            }
        }
    }




}