.d_flex{
    display: flex;
    gap: 1%;
}

.project_selected {
  margin-top: 2vh;
  display: flex;
  padding: 1%;
  gap: 1%;
  justify-content: center;
  -webkit-box-shadow: -1px 1px 5px 4px rgba(181, 179, 181, 1);
  -moz-box-shadow: -1px 1px 5px 4px rgba(181, 179, 181, 1);
  box-shadow: -1px 1px 5px 4px rgba(181, 179, 181, 1);
  position: relative;

  .slide_project {
    width: 50%;
    -webkit-box-shadow: -1px 0px 5px 4px rgba(214,207,214,1);
    -moz-box-shadow: -1px 0px 5px 4px rgba(214,207,214,1);
    box-shadow: -1px 0px 5px 4px rgba(214,207,214,1);
  }
  .details_project {
    margin-top: 1.5%;
    width: 50%;

    .title_project {
      text-align: center;
      font-size: 1.6em;
    }

    .description_project {
      margin-top: 4px;
    }

    .details_project_location {
      margin-top: 5px;
      display: flex;
      gap: 1%;
    }
  }

  .close_project {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vh 1vw;
    cursor: pointer;
    width: 30px;

    svg {
      font-size: 2em;
    }
  }
}

@media (max-width: 1000px){
    .project_selected{
        flex-direction: column;
        gap: 0;
    }

    .close_project{
      left: 2vw !important;
      top: 3vh !important;
      z-index: 999;
    }

    .d_flex{
        flex-direction: column;
        gap: 0;
    }

    .slide_project{
        width: 100% !important;
    }

    .details_project{
        width: 100% !important;
    }
}

@media (max-width: 500px){
    .details_project{
        margin-top: 20px !important;
    }
    .description_project{
        text-align: center;
    }
}
