@import '../../mixins/mixin.scss';

.slogan_banner{
    z-index: 1;
    color: #fff;
    position: relative;
    top: 20vh;
    overflow-x: hidden;
    -webkit-overflow-x: hidden !important;
    
    .span_slogan{
      margin-left: 15px;
      font-size: 2.7em;
    }
    
  }
  
  .buttons{
    position: relative;
    @include flex(flex-start,center);
    z-index: 4;
    padding-top: 24vh;
    gap: 5vw;
    margin-left: 15px;
  }
  
  @media (max-width: 780px){
    .span_slogan{
      font-size: 2.5em;
    }
  }
  

@media (max-width: 500px){
  .span_slogan{
    font-size: 1.6em !important;  
  }

  .buttons{
    gap: 10vw;
    padding-top: 25vh;
    font-size: 1em;
  }

}

@media (max-width: 450px){
  .span_slogan{
    font-size: 1.3em !important;  
  }
}
@media (max-width: 450px){
  .span_slogan{
    font-size: 1.2em !important;  
  }
}

@media (min-width: 1900px){
  .span_slogan{
    font-size: 3.5em !important;
  }
}
