.square{
  width: 100%;
  max-width: 7vh;
  padding-top: 2% ;
  position: relative;
}

@media (max-width: 500px){
  .square{
    top: 15vh;
  }
}

// @media (min-height: 800px){
//   .square{
//     top: 12vh;
//   }
// }
@media (min-height: 1000px){
  .square{
    top: 15vh;
  }
}
